<div class="row">
    <div class="col-12">
        <table style="width: 100%;text-align: center;border: 2px solid gray;">
            <thead>
                <tr>
                    <td>
                        no
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        surname
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        sutthichai
                    </td>
                    <td>
                        rattanaampun
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        chatchai
                    </td>
                    <td>
                        rattanaampun
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>